:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --blackish-blue: hsl(234, 17%, 12%);
}

html {
  background-color: var(--very-dark-blue);
  overflow: hidden;
}

h3 {
  color: var(--white);
}

.icon {
  color: var(--white);
}

.background-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hills {
  position: absolute;
  bottom: 50px;
  width: 100%;
  min-width: 1000px;
}
